*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
#root{
  min-height: 100vh;
  display: flex;
}
.app{
  display: flex;
}

html, body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}